.jumbotron{
    background-color: rgb(40,40,42);
    color: rgb(230, 230, 252);
}

.img-thumbnail{
    background-color: transparent;
    width: 200px;
    height: 200px;
}

.card-img-top{
    width: 200px;
    height: 200px;
}